[submodule "themes/artists"]
	path = themes/artists
	url = https://github.com/digitalcraftsman/hugo-artists-theme
[submodule "public"]
	path = public
	url = git@github.com:theodinspire/theodinspire.github.io.git
	branch = master
